* {
    padding:0;
    margin:0;
}

.trees {
    display: flex;
    justify-content: left;

}

.trees:hover {
    cursor: pointer;
}

.tree {
    border: 1px solid black;
    padding: 2px;
    position: relative;
    text-align: center;
}
.tree-number {
    font-size:16px;
}
.tree-symbol {
    font-size: 24px;
    color: green;
}
.guess {
    width:15rem;
}
.selected {
    background-color: red;
}
.win {
    background-color: green;
}